interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.trello.com/1/boards/REDACTED/lists?key=REDACTED&token=REDACTED&cards=open
  response:
    body:
      string: '[{"id":"REDACTED","name":"To Do","closed":false,"color":null,"idBoard":"REDACTED","pos":16384,"subscribed":false,"softLimit":null,"cards":[{"id":"REDACTED","badges":{"attachmentsByType":{"trello":{"board":0,"card":0}},"location":false,"votes":0,"viewingMemberVoted":false,"subscribed":false,"fogbugz":"","checkItems":0,"checkItemsChecked":0,"checkItemsEarliestDue":null,"comments":0,"attachments":0,"description":false,"due":null,"dueComplete":false,"start":null},"checkItemStates":[],"closed":false,"dueComplete":false,"dateLastActivity":"2024-03-15T15:11:05.958Z","desc":"","descData":{"emoji":{}},"due":null,"dueReminder":null,"email":null,"idBoard":"REDACTED","idChecklists":[],"idList":"REDACTED","idMembers":[],"idMembersVoted":[],"idShort":REDACTED,"idAttachmentCover":null,"labels":[],"idLabels":[],"manualCoverAttachment":false,"name":"Test
        card","pos":32768,"shortLink":"REDACTED","shortUrl":"https://trello.com/c/REDACTED","start":null,"subscribed":false,"url":"https://trello.com/c/REDACTED/59-test-card","cover":{"idAttachment":null,"color":null,"idUploadedBackground":null,"size":"normal","brightness":"dark","idPlugin":null},"isTemplate":false,"cardRole":null}]},{"id":"REDACTED","name":"Done","closed":false,"color":null,"idBoard":"REDACTED","pos":49152,"subscribed":false,"softLimit":null,"cards":[]}]'
    headers:
      Atl-Traceid:
      - b96dc54859954377a52d150290d7068a
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '299'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '99'
      X-Rate-Limit-Db-Query-Time-Interval-Ms:
      - '600000'
      X-Rate-Limit-Db-Query-Time-Max:
      - '7200000'
      X-Rate-Limit-Db-Query-Time-Remaining:
      - '7199990'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '375'
      X-Rate-Limit-Member-Remaining:
      - '374'
      X-Server-Time:
      - '1710515720775'
      X-Trello-Actual-Fastget-Path:
      - fast
      X-Trello-Environment:
      - Production
      X-Trello-Version:
      - 1.263981.0
    status:
      code: 200
      message: OK
version: 1
