{% extends "layout.html" %}
{% block title %}Wicrosoft To Do{% endblock %}

{% block content %}
  <div>
    <h1>Wicrosoft To Do</h1>
    <p>Definitely not a rip-off of Microsoft To Do</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      {% if view_model.incomplete_items %}
        <h4>Tasks</h4>
        {% for item in view_model.incomplete_items %}
          {% with status='incomplete' %}
            {% include 'item.html' %}
          {% endwith %}
        {% endfor %}
      {% endif %}
      {% if view_model.completed_items %}
        <h4>Completed</h4>
        {% for item in view_model.completed_items %}
          {% with status='completed' %}
            {% include 'item.html' %}
          {% endwith %}
        {% endfor %}
      {% endif %}
      <br>
        <div class="input-group mb-3">
          <form method="post", action="{{ url_for('add') }}" class="input-group mb-3">          
            <button class="btn btn-primary" type="submit">+</button>
            <input type=text name=title class="form-control" placeholder="Add a task">
          </form>
        </div>
    </div>
  </div>
{% endblock %}