<div class="input-group mb-2">
  <div class="input-group-text">
      <form method="post" action="{{ url_for('complete') }}">
          <input class="form-check-input" type="checkbox" onchange="this.form.submit()" {% if status == 'completed' %} checked="checked" {% endif %}>
          <input type="hidden" name="status" value="{{ item.status }}">
          <input type="hidden" name="item_id" value="{{ item._id }}">
      </form>
  </div>
  <form method="post" action="{{ url_for('edit') }}" class="form-control">
      <input type="text" class="form-control" value="{{item.name}}" name="title" onblur="this.form.submit()" {% if status == 'completed' %} style="text-decoration: line-through;" {% endif %}>
      <input type="hidden" name="item_id" value="{{ item._id }}">
  </form>
  <div class="input-group-text">
      <form method="post" action="{{ url_for('delete') }}">
          <button class="btn btn-danger" type="submit">Delete</button>
          <input type="hidden" name="item_id" value="{{ item._id }}">
      </form>
  </div>
</div>
